
<div ng-controller="manageRoleController">
    <div class="container-fluid">
        <div class="panel panel-default">
            <div class="panel-heading">
                <div class="form-group">
                    <b>Roles List</b>
                    <a style="float:right;" class="btn btn-light btn-xs" data-toggle="modal" data-target="#myAddModal">
                        Add Role<span class="fa fa-plus-circle fa-fw"></span>
                    </a>
                </div>
            </div>
            <div class="panel-body">
                <div class="row">
                    <div class="col-sm-12">
                        <table class="table table-striped table-bordered table-hover  no-footer" id="example" role="grid" aria-describedby="example_info">
                            <thead>
                                <tr>
                                    <th class="col-xs-1"></th>
                                    <th class="col-xs-1">#</th>
                                    <th class="col-xs-3">Name</th>
                                    <th class="col-xs-3">Action</th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr ng-repeat="role in Roles">
                                    <td><input type="checkbox" value=""></td>
                                    <td>{{$index+1}}</td>

                                    <td>{{role.Name}}</td>

                                    <td>
                                        <p>
                                            <button ng-click="DeleteRole(role.Id)" class="btn btn-xs btn-danger">Delete</button>
                                        </p>
                                    </td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <section id="popup">
        @Html.Partial("AddRoleModal")
    </section>
</div>
