
<div ng-controller="userController" ng-cloak>
    <div class="container-fluid">
        <div class="panel panel-default">
            <div class="panel-heading">
                <div class="form-group">
                    <b>User Management</b>
                    <a style="float:right;" class="btn btn-light btn-xs" data-toggle="modal" data-target="#myAddModal">
                        Add User<span class="fa fa-plus-circle fa-fw"></span>
                    </a>
                </div>
            </div>
            <div class="panel-body">
                <div class="row">
                    <table id="users" class="table table-striped table-bordered" style="width:100%">
                        <thead>
                            <tr>
                                <th class="col-xs-2">User</th>
                                <th class="col-xs-2">Average Worked Time</th>
                                <th class="col-xs-4">Action</th>
                            </tr>
                        </thead>
                        <tbody></tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>

    <section id="popup">
        <!-- Modal Add Start-->
        @Html.Partial("ViewTrackingModal")
        @Html.Partial("ViewUserModal")
        @Html.Partial("ManageRolesModal")
        @Html.Partial("AddUserModal")
        <!-- Modal Add Start-->
    </section>
</div>
